
<style>
  .container {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
  }

  .level {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    width: 395px;
  }

  .answer {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    width: 400px;
  }

  .value {
    color: #fff;
    background: #a80e56;
    border-radius: 6px;
    margin: 0 2px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 20px;
  }

</style>

<div class="container">
  <label>Olá, {{name}}!</label>

  <h3>{{title}}</h3>
  <strong>{{description}}</strong>

  <div class="level">
    <span>Pouco provável</span>
    <span>Muito provável</span>
  </div>

  <div class="answer">
    <a class="value" href="{{link}}/1?u={{id}}">1</a>
    <a class="value" href="{{link}}/2?u={{id}}">2</a>
    <a class="value" href="{{link}}/3?u={{id}}">3</a>
    <a class="value" href="{{link}}/4?u={{id}}">4</a>
    <a class="value" href="{{link}}/5?u={{id}}">5</a>
    <a class="value" href="{{link}}/6?u={{id}}">6</a>
    <a class="value" href="{{link}}/7?u={{id}}">7</a>
    <a class="value" href="{{link}}/8?u={{id}}">8</a>
    <a class="value" href="{{link}}/9?u={{id}}">9</a>
    <a class="value" href="{{link}}/10?u={{id}}">10</a>

  </div>

  <p>Sua opinião é muito importante para nós!</p>
</div>
